.canvas {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.coordinates {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.canvas-container-text {
    font-size: 1.3em;
    width: 100%;
    height: 3%;
    margin: 0;
}