::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: darkgray;
}

::-webkit-scrollbar-corner {
    background: transparent;
}