.tutorial {
    float: left;
    overflow: auto;
    height: 100%;
    width: 100%;
}

.p-font {
    font-family: 'Arial';
    font-size: 1.1rem;
    margin: 0;
}

.code-hint {
    border-radius: 0;
    background-color: #8787870f;
    border: #8787872a solid 3px;
    border-left: #8787872a solid 29px;
    width: min-content;
    padding: 5px;
}

.code-hint-font {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
}