.tutorial {
    float: left;
    overflow: auto;
    height: 100%;
    width: 100%;
}

.p-font {
    font-size: 14px;
    margin: 0;
}

.code-hint {
    border-left: #8787872a solid 29px;
    padding-left: 10px;
}

.code-hint-font {
    font-size: 14px;
}